h1
{color:red;
background-color:green;
font-family:algrieen;
font-size:10;
font-style:gras;
font-weight:10;
	
	
}
h2
{color:blue;
background-color:green;
font-family:algrieen;
font-size:10;
font-style:gras;
font-weight:10;	
	
}
h3
{ color:red;
background-color:green;
font-family:algrieen;
font-size:10;
font-style:gras;
font-weight:10;
	
	
}
 h4
{ color:red;
background-color:green;
font-family:algrieen;
font-size:10;
font-style:gras;
font-weight:10;
	
	
} 

