h1
{color:red;
background-color:green;
font-family:algrieen;
font-size:20;
font-style:gras;
font-weight:20;
	
	
}
h2
{color:blue;
	
	
}
h3
{ color:red;
background-color:green;
font-family:algrieen;
font-size:20;
font-style:gras;
font-weight:20;
	
	
}
 
}
 

